################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AngryBirds/.vs
/AngryBirds/bin/Debug/net8.0
/AngryBirds/obj
/Billiards/obj
/Billiards/.vs/Billiards/FileContentIndex
/Module_1_Errors/AngryBirds/.vs
/Module_1_Errors/AngryBirds/bin/Debug/net8.0
/Module_1_Errors/AngryBirds/obj
/Module_1_Errors/Billiards/.vs/Billiards
/Module_1_Errors/Billiards/obj
/Module_2_Branches/Pluralize/.vs/Pluralize/FileContentIndex
/Module_2_Branches/Pluralize/obj
/Module_2_Branches/Rectangles/obj
/Module_2_Branches/Rectangles/.vs/Rectangles/FileContentIndex
/Module_2_Branches/DistanceTask/.vs/DistanceTask/FileContentIndex
/Module_2_Branches/DistanceTask/obj
/Module_2_Branches/Rectangles/.vs/Rectangles/DesignTimeBuild
/Module_2_Branches/Pluralize/.vs/Pluralize/DesignTimeBuild
/Module_3_Cycles/Mazes/.vs/Mazes/FileContentIndex
/Module_3_Cycles/Mazes/obj
/Module_3_Cycles/Fractals/obj
/Module_3_Cycles/Fractals/.vs/Fractals/FileContentIndex
/Module_3_Cycles/Mazes/.vs/Mazes
/Module_2_Branches/DistanceTask/.vs/DistanceTask
/Module_2_Branches/Pluralize/.vs
/Module_2_Branches/Rectangles/.vs/Rectangles/v17
/Module_3_Cycles/Fractals/.vs/Fractals
/Module_4_Massives/Names/.vs/Names/FileContentIndex
/Module_4_Massives/Names/obj
/Module_4_Massives/Names/.vs/Names
/Module_5_Collections_And_Files/TextAnalysis/obj
/Module_5_Collections_And_Files/TextAnalysis/.vs/TextAnalysis/FileContentIndex
/Module_5_Collections_And_Files/TextAnalysis/.vs/TextAnalysis
/Module_8_Recursive_Algorithms/Passwords/obj
/Module_8_Recursive_Algorithms/Passwords/.vs/Passwords/FileContentIndex
