################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AngryBirds/.vs
/AngryBirds/bin/Debug/net8.0
/AngryBirds/obj
